---
http_interactions:
- request:
    method: put
    uri: https://pay.alphapay.ca/api/v1.0/gateway/partners/bad_code/orders/bad_code1530657263?nonce_str=hqveenohwpryttwcqcbjttotil&sign=fd96e1c407d081884b37e3efdd5df643a5b0e952102ebd0f432b933394871db1&time=1530657263679
    body:
      encoding: UTF-8
      string: '{"order_id":"bad_code1530657263","description":"completes -> ","price":10,"currency":"CAD","notify_url":null,"channel":"Alipay","operator":"alipay
        qr"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Server-From:
      - Pay-Center|12366@localhost
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"return_msg":"Partner Code is invalid","message":"Partner Code is
        invalid","return_code":"INVALID_SHORT_ID","timestamp":1530657263842}'
  recorded_at: Tue, 03 Jul 2018 22:34:23 GMT
recorded_with: VCR 4.0.0
