---
http_interactions:
- request:
    method: put
    uri: https://pay.alphapay.ca/api/v1.0/gateway/partners/bad_code/orders/bad_code1530657265?nonce_str=zkbrrqyfljrrfndoidqeslfnsi&sign=48ccc4544472cc097d18d4e39698e2cef6b104339df56ff674a378bb163c2d6f&time=1530657265306
    body:
      encoding: UTF-8
      string: '{"order_id":"bad_code1530657265","description":"completes -> ","price":10,"currency":"CAD","notify_url":null,"channel":"Wechat","operator":"wechat
        qr"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Server-From:
      - Pay-Center|12366@localhost
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"return_msg":"Partner Code is invalid","message":"Partner Code is
        invalid","return_code":"INVALID_SHORT_ID","timestamp":1530657265456}'
  recorded_at: Tue, 03 Jul 2018 22:34:25 GMT
recorded_with: VCR 4.0.0
