---
http_interactions:
- request:
    method: put
    uri: https://pay.alphapay.ca/api/v1.0/gateway/partners/bad_code/orders/bad_code1530305535?nonce_str=rhwwcyxneapmzfrjcsitmhhueb&sign=09ac1f33d1a4b50adb4343eebefdc213f38c7fa4c72ae339d736ad160ec08333&time=1530305535070
    body:
      encoding: UTF-8
      string: '{"order_id":"bad_code1530305535","description":"completes -> bad_code1530305535","price":10,"currency":"CAD","notify_url":null,"channel":"Alipay","operator":"alipay
        qr"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Server-From:
      - Pay-Center|12366@localhost
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"return_msg":"Partner Code is invalid","message":"Partner Code is
        invalid","return_code":"INVALID_SHORT_ID","timestamp":1530305535265}'
  recorded_at: Fri, 29 Jun 2018 20:52:15 GMT
recorded_with: VCR 4.0.0
