---
http_interactions:
- request:
    method: put
    uri: https://pay.alphapay.ca/api/v1.0/gateway/partners/bad_code/orders/bad_code1530305543?nonce_str=ivymfpsvesjyscolwxolzwkfwf&sign=da87d3fc17e72e0487515e6e2ba0f505fe5bbc823e518bb12be06a759a5d2ea3&time=1530305543986
    body:
      encoding: UTF-8
      string: '{"order_id":"bad_code1530305543","description":"completes -> bad_code1530305543","price":10,"currency":"CAD","notify_url":null,"channel":"Wechat","operator":"wechat
        qr"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Server-From:
      - Pay-Center|12366@localhost
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"return_msg":"Partner Code is invalid","message":"Partner Code is
        invalid","return_code":"INVALID_SHORT_ID","timestamp":1530305544172}'
  recorded_at: Fri, 29 Jun 2018 20:52:24 GMT
recorded_with: VCR 4.0.0
